* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  background-color: #191765;
  align-content: center;
}

.header-toolbar {
  /* padding-top: 10px;
  padding-left: 10px; */
  display: flex;
  width: 100%;
  font-size: 18px;
  color: white;
  justify-content: space-between;
  
  /* flex-direction: row;
  min-height: 4rem;
  align-items: center;
  padding: 15px;  
  opacity: 1;
   */
  
}

/* .navbar-itens-long {
  display: none;
} */

.navbar-bars {
  display: none;
}

.navbar-bars {
  padding-top: 20px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
}  

.navbar-itens-long {
  font-family: Roboto, sans-serif;
}


.my-logo {
  padding-left: 15px;;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.my-logo:hover {
  text-decoration: none;
  animation: z1 1s linear;
}

@keyframes z1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.my-logo:active {
  text-decoration: none;
}

.my-logo:visited {
  text-decoration: none;
}

.content-headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  background: url("../images/circle_1_header.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
  background-position-y: unset;
  /* min-height: 40vh; */
}

.content-headline-section > h1 {  
  color: #7d73fc;
  font-style: normal;
  font-weight: bold;
  line-height: 72px;
  font-size: 48px;
  /* padding: 1.2rem; */  
  letter-spacing: 0.37px;
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
}

.content-headline-section > h2 {
  color: #edecff;
  font-weight: 500;
  /* padding: 1rem; */
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
}

.content-headline-section > p {
  color: #c8c8d4;
  padding: 2rem;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  background-color: transparent;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

/* .headline-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 20px;
  padding-right: 20px;

  /* margin: 0 30% 0 30%;
  text-align: center;
} */

/* .bars-icons {
  color: #fff;
} */

.separation-line-t1 {
  /* width: 448px; */
  margin-top: 60px;
  border: 0.2px solid #646369;
  background-color: transparent;
}

.separation-line-t2 {
  border: 0.2px solid #646369;
  margin: 25px;
  background-color: transparent;
}

.language-frameworks-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 40vh;
  padding: 1rem;
  background: url("../images/circle_2_header.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-family: Roboto, sans-serif;
}

.skills-list {
  background-color: transparent;
}

.skills-title {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #9390ff;
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  text-align: left;
}

.skills-items {
  list-style-type: none;
  padding: 1.2rem;
  background-color: transparent;
}

.skills-items > li {
  margin-bottom: 0.4rem;
  background-color: transparent;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f5f5ff;
  font-family: Roboto, sans-serif;
}

.social-media-icons > ul {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-media-icons > ul > li > a {
  color: white;
  padding: 5px;
  zoom: 1.5;
  text-decoration: none;
}

.my-works-section {
  display: grid;
  min-height: 50vh;
}

.my-works-titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  color: #a2a3ae;
}

.my-work-arrow-left {
  padding-right: 30%;
}

.my-work-arrow-right {
  padding-left: 30%;
}

.work-section-separator, 
  .my-work-arrow-left,
  .my-work-arrow-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #a2a3ae;
}

.my-works-section-title {
  text-align: center;
  color: #a2a3a3;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

/* .my-work-icon {
  zoom: 1.8;
} */

.my-recent-work {
  color: #9490ff;
  font-size: 40px;
  line-height: 42px;
  font-style: normal;
  font-weight: 500;
  padding: 60px 0 60px 1.7rem;
  font-family: Roboto, sans-serif;
}

.my-projects-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: transparent;
  margin-top: 30px;
}

.my-project-image {
  width: 340px;
  height: 236px;
  background-color: transparent;
}

.my-project-image-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.my-proj-1,
.my-proj-3 {
  background: url("../images/ellipse1.svg");
  background-repeat: no-repeat;
}

.my-proj-2, 
.my-proj-4 {
  background: url("../images/ellipse2.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.my-project-name {
  background-color: transparent;
  padding: 2rem;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  font-family: Roboto, sans-serif;
}

.my-project-description {
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
  padding: 2rem;
  font-family: Roboto, sans-serif;
  background-color: transparent;
  color: #dcdce8;
}

.project-technologies > ul {
  margin-right: 0;
  padding-left: 0%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  color: white;
  list-style-type: none;
  background-color: transparent;
}

.project-technologies > ul > li {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  background-color: transparent;
}

.project-technologies > ul > li:not(:first-child) {
  border-left: 1px solid gray;
  background-color: transparent;
}

.projects-container {
  display: grid;
  grid-gap: 20px;
}

.my-project-button {
  width: 89px;
  height: 48px;
  margin: 2rem;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
  outline: none;
}

.my-project-button:hover {
  box-shadow: 1px 8px 16px rgba(125 115 252 / 48%);
}

.contact-form {
  font-family: Roboto, sans-serif;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.contact-form h3 {
  color: #fff;
  color: #9390ff;
  text-align: center;
  font-size: 32px;
  padding-top: 80px;
}

.contact-form p {
  color: #fff;
  font-size: 16px;
  font-family: Inter, sans-serif;
  padding: 20px;
  text-align: center;
  line-height: 24px;
}

.contact-form input {
  background-color: #fff;
  height: 48px;
  padding-left: 10px;
}

.contact-form textarea {
  background-color: #fff;
  height: 148px;
  padding-left: 12px;
  color: #81818c;
  font-family: Inter, sans-serif;
}

textarea::placeholder {
  padding-top: 10px;
}

.name-ph-change::placeholder {
  color: #191765;
}

.contact-form button {
  margin-top: 15px;
  width: 89px;
  height: 48px;
  border: none;
  align-self: center;
  padding: 12px;
}

.contact-form button:enabled {
  color: #edecff;
  background-color: #7d73fc;
  cursor: pointer;
}

.contact-form button:hover {
  color: #edecff;
  background-color: #7d73fc;
  box-shadow: 1px 8px 16px rgba(125 115  252 / 48%);
  border: none;
}

.contact-form button:active {
  color: #edecff;
  background-color: #5e42d7;
  border: none;
}

.contact-form button:disabled {
  color: #edecff;
  background-color: #2a2b33;
  border: none;
}

.myportfolio-footer p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  font-family: Roboto, sans-serif;
  margin-bottom: 28px;
}

@media screen and (min-width: 992px) {
  .proj-1,
  .proj-2,
  .proj-3,
  .proj-4 {
    display: flex;
  }

  .recent-project-title {
    font-size: 64px;
    line-height: 114px;
    font-weight: 700;
  }

  .footer-email {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }

  .email {
    margin-top: 10px;
  }

  .footer-section {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .footer-hr {
    display: none;
  }

  .proj-1 img,
  .proj-2 img,
  .proj-3 img,
  .proj-4 img {
    margin-right: 40px;
    padding-top: 30px;
    height: 340px;
  }

  .contact-section p {
    width: 50%;
  }

  .work-socio {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }

  .workl {
    display: inline;
  }

  .work {
    padding-top: 35px;
  }

  .navbar-bars {
    display: none;
  }

  .navbar-itens-long {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    list-style: none;
  }

  .navbar-itens-long li {
    margin-right: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .content {
    display: flex;
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    min-height: 50vh;
  }

  .title-1 {
    font-size: 50px;
  }

  .title-2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .technologies {
    flex: 1;
    width: 50%;
    border-top: 0.2px solid #646369;
    border-bottom: 0.2px solid #646369;
  }

  .para {
    width: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #b3bac5;

    /* margin: 0 30% 0 30%; */
    text-align: center;
  }

  .lang {
    width: 20%;
  }
}
